extends layout
block content
  .page-header
    h1 PrimeDisplay

  p.lead Analyze your site for PrimeDisplay optimizations

  form.form-horizontal(role='form', method='POST')
    input(type='hidden', name='_csrf', value=token)
    .form-group
      label(class='col-sm-2 control-label', for='site') Site
      .col-sm-8
        input.form-control(type='text', name='site', id='site', autofocus=true)
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-default#analyzeBtn(type='submit')
          | Analyze
  pre
    p#imgList