extends layout

block head
    //script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js')
    script(src='./js/analyze.js')

block content
  .page-header
    h1 PrimeDisplay

  p.lead Analyze your site for PrimeDisplay optimizations 
  
  form.form-horizontal(role='form', method='POST', name='AnalyzeForm')
    input(type='hidden', name='_csrf', value=_csrf, id='_csrf')
    .form-group
      label(class='col-sm-2 control-label', for='site') Site
      .col-sm-8
        input.form-control(type='text', placeholder='type a url here', name='site', id='site', autofocus=true, value='#{urlAnalyzed}')
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-primary Analyze
  block results