extends layout

block head
  script(src='./js/demo.js')

block content
  .page-header
    h1 Image Effects

  .row
      .col-md-6
        img#originalImage(width=480, src=imagePath)
      .col-md-6
        #processedImage
          img#imgToReplace

  .row
    p
      #btns
        each btnTitle, btnId in {blur: 'blur', implode: 'implode', contrast: 'contrast', colorize: 'colorize', equalize: 'equalize', sepia: 'sepia', swirl: 'swirl', rotate: 'rotate', rotateedge: 'rotate edge', fliprotateedge: 'flip rotate edge'}
          a.col-md-1.btn.btn-lg.btn-primary(id=btnId, href='#', role='button')= btnTitle