extends layout
block content
  h1PrimeDisplay
  p.lead
    |Image management, manipulation and delivery

    #frame-wrap
      div(style='background: transparent url(/img/nodejs.png) no-repeat;')
      img#originalImage(src=imagePath)
      #processedImage
        img#imgToReplace
      
  #btns
    button#blur(type='button') blur
    button#implode(type='button') implode
    button#contrast(type='button') constrast
    button#colorize(type='button') colorize
    button#equalize(type='button') equalize
    button#sepia(type='button') sepia
    button#swirl(type='button') swirl
    button#rotate(type='button') rotate
    button#rotateedge(type='button') rotate-edge
    button#fliprotateedge(type='button') flip-rotate-edge
